.homepage {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

tbody {
    overflow-y: scroll;
}

th, td {
    padding: 5px;
  }

@media only screen and (max-width: 767px) {
    table {
        min-width: 100%;
    }
}